@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  margin: 0;
  padding: 0;
  background-image: url(background.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}
.wrapper {
  width: 400px;
  height: 420px;
  color: #000;
  top: 50%;
  left: 50%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px cadetblue;
}
h1 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-bottom: 8%;
}
.wrapper input {
  width: 100%;
  margin-bottom: 20px;
}
.wrapper input[type="email"],
.wrapper input[type="password"] {
  border: none;

  background: transparent;
  outline: none;
  height: 30px;
  font-size: 16px;
  opacity: 1;
  color: white;
}
.wrapper input[type="email"]:hover {
  transform: scale(0.98);
  border-bottom: 1px solid #2ecc71;
}
.wrapper input[type="password"]:hover {
  transform: scale(0.98);
  border-bottom: 1px solid #2ecc71;
}
.wrapper input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #2ecc71;
  border-radius: 24px;
  transition: 0.25s;
}
.wrapper input[type="submit"]:hover {
  cursor: pointer;
  transform: scale(0.98);
  background: #2ecc71;
}
.bottom-text {
  color: white;
}
.bottom-text input {
  width: 10%;
  float: left;
}
.bottom-text a {
  float: right;
}
#overlay-area {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}
